/* reset vai, basicamente, resetar todos os elementos de acordo com as propriedades que tem dentro das chaves */

* {
  margin: 0;
  padding: 0
}

/* body contém o corpo inteiro do site. Literalmente tudo. */

body {
  font-family: 'Poppins', sans-serif;
}

/* Aqui, estou declarando as propriedades de todos os elementos que possuem a class chamada "container". E.g. <div class="container"> */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* para setar a direção do método flex em colunas */
  flex-direction: column;
  background-color: #e0b971;
  padding-bottom: 4rem;
  margin-bottom: 5rem
}

strong {
  margin-top: 2rem;
  font-size: 3rem;
  color: white
}

.subtitulo {
  color: white;
  font-style: italic;
  margin-bottom: 2rem
}

.banner {
  border-radius: 50rem;
  width: 50%;

  /* box-shadow: X Y Z cor */
  /* box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4); */
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ca922a;
  width: 20%;
  border-radius: 1rem;
  padding: 1rem;
}

.icon {
  width: 7rem;
}

.bio {
  text-align: center;
  color: white;
}

b {
  color: white;
font-size: 2rem;
}

.content {
  margin-top: 2rem;
  width: 15rem;
  background-color: rgb(204, 84, 84);
  transition: .2s;
}

/* as propriedades que, quando passar o mouse em cima, irão acontecer */
.content:hover {
  background-color: rgb(173, 42, 42);
}

p {
  display: none;
}

.content:hover > .balao > p {
  display: block;
  background-color: black;
  color: white;
  animation: moveToUp 1s forwards ;
  position: absolute;
}

h1 {
  color: white
}


@keyframes moveToUp {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(-1rem);
    opacity: 1,
  }
}
